*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

p
{
    font-size: 1.125em;
    line-height: 1.8em;
    font-weight: 400;
}

/*header*/

header > section > article.responsive
{
    display: none;
}

header > section
{
    display: grid;
    grid-template-columns: 25% 75%;
    margin: 0 3%;
}

header > section > article > a > img
{
    width: 85%;
    display: flex;
    align-items: center;
    margin: 3% 0;
}

header > section > nav > ul
{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    height: 100%;
}

header > section > nav > ul > li
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header > section > nav > ul > li > a
{
    color: #000;
    font-size: 1.1em;
    font-weight: 700;
    transition: 1s;
}

header > section > nav > ul > li > ul 
{
    display: none;
}

header > section > nav > ul > li:nth-child(2) > ul > li
{
    padding: 10px 2.7vw;
}

header > section > nav > ul > li:nth-child(3) > ul > li
{
    padding: 10px 3vw;
}

header > section > nav > ul > li:hover > a
{
    color: #991a15;
    transition: 0.3s;
}

header > section > nav > ul > li:hover > ul 
{
    display: block;
    position: absolute;
    top: 6vw;
    background-color: #fff;
}

header > section > nav > ul > li:hover > ul > li > a
{
    font-size: 1em;
    color: #7d8588;
}

header > section > nav > ul > li > ul > li:hover
{
    background-color: #eeeeee;
}

header > section > nav > ul > li > ul > li:hover > a
{
    color: #000;
}

header > section > nav > ul > li > a > img:first-child
{
    width: 12.5px;
}

header > section > nav > ul > li:hover > a > img:first-child
{
    display: none;
}

header > section > nav > ul > li > a > img:nth-child(2)
{
    display: none;
    width: 12.5px;
}

header > section > nav > ul > li:hover > a > img:nth-child(2)
{
    display: inline;
}

@media only screen and (max-width: 990px)
{
    header > section > nav > ul > li > a > img:first-child
    {
        display: none;
    }
    
    header > section > nav > ul > li > a > img:nth-child(2),
    header > section > nav > ul > li:hover > a > img:nth-child(2)
    {
        display: none;
    }

    header > section > nav > ul > li:hover > ul 
    {
        display: none;
    }

    header > section
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 8%;
    }

    header > section > article > a > img
    {
        width: 70%;
    }

    header > section > article.responsive
    {
        display: block;
        cursor: pointer;
    }

    header > section > article.responsive > div.line
    {
        width: 30px;
        height: 3px;
        background: #991a15;
        margin: 6px 0;
    }

    header > section > nav
    {
        height: 0;
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #fff;
        transition: 0.5s;
        overflow: hidden;
    }

    header > section > nav.active
    {
        height: 622px;
        transition: 0.5s;
    }

    header > section > nav.active > ul
    {
        opacity: 1;
        transition: 0.5s;
    }

    header > section > nav > ul
    {
        grid-template-columns: none;
        display: block;
        width: fit-content;
        margin: 5% auto 0 auto;
        opacity: 0;
        transition: 0.5s;
    }

    header > section > nav > ul > li > a
    {
        margin-bottom: 15%;
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 767px)
{
    
}
/*body*/

main > section:first-child > article:first-child
{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/img/inicial/sobre-nosotros-inicial.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.875em;
}

main > section:first-child > article:nth-child(2)
{
    background-color: #F5F7FA;
    font-size: 1em;;
    padding: 0.5% 7.9%;
}

main > section:first-child > article:nth-child(2) > p > a, 
main > section:first-child > article:nth-child(2) > p
{
    color: #7d8588;
}

main > section:first-child > article:nth-child(2) > p > a:hover
{
    color: #991a15;
}

/*Sobre*/

main > section:nth-child(2) > article
{
    margin: 2.5% 7.9%;
}

main > section:nth-child(2) > article:nth-child(1) > h3
{
    font-weight: 500;
    text-align: center;
    font-size: 1.25em;
}

main > section:nth-child(2) > article:nth-child(2)
{
    background-color: #F5F7FA;
    padding: 2.5% 1.5%;
}

main > section:nth-child(2) > article:nth-child(2) > p
{
    font-size: 1em;
    text-align: justify;
}

main > section:nth-child(2) > article:nth-child(2) > ul
{
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

main > section:nth-child(2) > article:nth-child(2) > ul > li 
{
    margin: 5% 0;
}

main > section:nth-child(2) > article:nth-child(2) > ul > li > img,
main > section:nth-child(2) > article:nth-child(2) > ul > li > p
{
    width: 65%;
    margin-left: 15%;
    display: flex;
    justify-content: center;
}

main > section:nth-child(2) > article:nth-child(2) > ul > li > p
{
    background-color: #991a15;
    color: #fff;
    font-size: 1em;
}

@media only screen and (max-width: 990px)
{
    main > section:nth-child(2) > article:nth-child(2) > ul
    {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
    }
}

/*Tecnologia*/

main > section:nth-child(3)
{
    background-color: #F5F7FA;
}

main > section:nth-child(3) > article
{
    margin: 2.5% 0;
}

main > section:nth-child(3) > article > h3
{
    font-weight: 500;
    text-align: center;
    font-size: 1.25em;
    padding-top: 2.5%;
}

main > section:nth-child(3) > article > ul
{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin: 0 6%;
}

main > section:nth-child(3) > article > ul > li
{
    background-color: #fff;
    text-align: center;
    margin: 2.5% 8% 10% 8%;
    padding: 10%;
}

main > section:nth-child(3) > article > ul > li > img
{
    width: 80px;
    border-radius: 100%;
    margin-bottom: 2.5%;
}

main > section:nth-child(3) > article > ul > li > h4
{
    font-size: 1.2em;
    text-align: left;
    padding: 2.5%;
}

main > section:nth-child(3) > article > ul > li > p
{
    font-size: 1em;
    text-align: left;
    padding: 2.5%;
}

@media only screen and (max-width: 990px)
{
    main > section:nth-child(3) > article > ul
    {
        grid-template-columns: none;
        grid-template-rows: repeat(4, 25%);
        margin: 0 7.9%;
    }

    main > section:nth-child(3) > article > ul > li
    {
        margin: 2.5% 0;
        padding: 5% 0;
    }

    main > section:nth-child(3) > article > ul > li > h4
    {
        padding: 0 10%; 
    }

    main > section:nth-child(3) > article > ul > li > p
    {
        padding: 2.5% 10%;
    }
}

/*Productos Que Puedas Necesitar*/

main > section:nth-child(4) 
{
    display: grid;
    grid-template-rows: 10% 90%;
    margin: 0 6.9% 2.5% 6.9%;
}

main > section:nth-child(4) > article:first-child
{
    display: flex;
    justify-content: space-between;
    margin: 0 1%;
}

main > section:nth-child(4) > article:first-child > a
{
    color: #000;
}

main > section:nth-child(4) > article:first-child > a:hover
{
    color: #991a15;
}

main > section:nth-child(4) > article:nth-child(2) > ul
{
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

main > section:nth-child(4) > article:nth-child(2) > ul > a
{
    color: #000;
}

main > section:nth-child(4) > article:nth-child(2) > ul > a > li
{
    margin: 4.4%;
    font-size: 1.125em;
    padding-bottom: 5%;
}

main > section:nth-child(4) > article:nth-child(2) > ul > a > li:hover
{
    border-bottom: #991a15 solid 2px;
}

main > section:nth-child(4) > article:nth-child(2) > ul > a > li img
{
    width: 100%;
    margin-bottom: 5%;
}

main > section:nth-child(4) > article:nth-child(2) > ul > a > li img:hover
{
    filter: opacity(60%);
}

@media only screen and (max-width: 990px)
{
    main > section:nth-child(4) > article:nth-child(2) > ul
    {
        grid-template-columns: 50% 50%;
    }

    main > section:nth-child(4) > article:first-child
    {
        margin: 0 2%;
    }

    main > section:nth-child(4) 
    {
        grid-template-rows: 5% 90%; 
    }
}

/*Footer*/

footer
{
    background-image: url("/img/logos/fondo-qubitexp.png");
}

footer > section:first-child 
{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin: 0 8%;
}

footer > section:first-child > article
{
    margin: 5% 2%;
}

footer > section:first-child > article > h4 > a
{
    font-size: 1.125em;
    color: #fff;
}

footer > section:first-child > article > h4 
{
    font-weight: lighter;
    margin-bottom: 15%;
    transition: 0.8s;
}

footer > section:first-child > article > h4:hover
{
    font-weight: bold;
    transition: 0.3s;
}

footer > section:first-child > article > ul > li > a
{
    color: #fff;
    font-size: 0.938em;
    transition: 0.8s;
} 

footer > section:first-child > article > ul > li > a:hover
{
    font-weight: bold;
    transition: 0.3s;
}

footer > section:first-child > article > ul > li
{
    margin-bottom: 3%;
    color: #fff;
    font-size: 0.938em;
}

footer > section:nth-child(2) > article
{
    display: none;
}

footer > section:nth-child(3) > article
{
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 0 5%;
}

footer > section:nth-child(3)
{
    background-color: #991a15;
}

footer > section:nth-child(3) > article > p 
{
    color: #fff;
    font-size: 0.85em;
    margin: 1.5% 5%;
    transition: 0.8s;
}

footer > section:nth-child(3) > article > p > a
{
    color: #fff;
    font-size: 1em;
    margin: 1.5% 5%;
}

footer > section:nth-child(3) > article > p > a:hover
{
    font-weight: bolder;
    transition: 0.3s;
}

footer > section:nth-child(3) > article > p:nth-child(2)
{
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 990px)
{
    footer
    {
        background-image: none;
    }

    footer > section:first-child
    {
        display: none;
    }

    footer > section:nth-child(2) > article
    {
        display: block;
        padding: 2.5% 8%;
    }

    footer > section:nth-child(3) > article
    {
        grid-template-columns: none;
    }

    footer > section:nth-child(3) > article > p:nth-child(2)
    {
        display: none;
    }

    footer > section:nth-child(3)
    {
        background-color: #F5F7FA;
    }

    footer > section:nth-child(3) > article  
    {
        padding: 0 3.5%;
    }

    footer > section:nth-child(3) > article > p > a,
    footer > section:nth-child(3) > article > p 
    {
        color: #000;
    }
}

