*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

p
{
    font-size: 1.125em;
    line-height: 1.8em;
    font-weight: 400;
}

/*header*/

header > section
{
    display: grid;
    grid-template-columns: 25% 75%;
    margin: 0 3%;
}

header > section > article > a > img
{
    height: auto;
    width: 85%;
    display: flex;
    align-items: center;
    margin: 3% 0;
}

header > section > nav > ul
{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    height: 100%;
}

header > section > nav > ul > li
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header > section > nav > ul > li > a
{
    color: #000;
    font-size: 1.1em;
    font-weight: 700;
    transition: 1s;
}

header > section > nav > ul > li > ul 
{
    display: none;
}

header > section > nav > ul > li:nth-child(2n) > ul > li
{
    padding: 10px 2.7vw;
}

header > section > nav > ul > li:nth-child(3n) > ul > li
{
    padding: 10px 3vw;
}

header > section > nav > ul > li:hover > a
{
    color: #c72924;
    transition: 0.3s;
}

header > section > nav > ul > li:hover > ul 
{
    display: block;
    position: absolute;
    top: 6vw;
    background-color: #fff;
}

header > section > nav > ul > li:hover > ul > li > a
{
    font-size: 1em;
    color: #7d8588;
}

header > section > nav > ul > li > ul > li:hover
{
    background-color: #eeeeee;
}

header > section > nav > ul > li > ul > li:hover > a
{
    color: #000;
}

/*body*/

main > section:first-child > article > img
{
    width: 100%;
    height: 70vh;
}

main > section > article > ul
{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin: 0 3% 2.5% 3%;
}

main > section > article > h2
{
    display: flex;
    justify-content: center;
    font-size: 1.875em;
    text-transform: uppercase;
    margin: 2.5% 0 0 0;
    color: #7d8588;
}

main > section > article > hr
{
    margin: 1% 47% 2.5% 47%;
    border: 3px solid #c72924;
    border-radius: 10px;
}

main > section > article > ul > li
{
    margin: 0 1.5%;
    font-size: 1.125em;
    padding-bottom: 5%;
}

main > section > article > ul > li:hover
{
    border-bottom: #c72924 solid 2px;
}

main > section > article > ul > li > img
{
    width: 100%;
    margin-bottom: 5%;
}

main > section > article > ul > li > img:hover
{
    filter: opacity(60%);
}

main > section > article:nth-child(3n)
{
    display: flex;
    justify-content: center;
}

main > section > article > button
{
    padding: 0.5% 2.5%;
    color: #fff;
    background-color: #991a15;
    font-size: 1.25em;
    border-radius: 20px;
    border: #991a15 solid 3px;
    transition: 1s;
}

main > section > article > button:hover
{
    background-color: #fff;
    color: #991a15;
    transition: 0.5s;
}

/*Frase de la empresa*/

main > section:nth-child(2n)
{
    background-image: url("/img/fondoFraseQubiteXp.png");
    margin: 5% 0 0 0;
}

main > section:nth-child(2n) > article 
{
    padding: 3.5% 5%;
}

main > section:nth-child(2n) > article > p
{
    color: #fff;
    font-weight: bold;
    text-align: center;
}

/*Sobre QubiTeXp*/

main > section:nth-child(3n) > article > p , main > section:nth-child(3n) > article:nth-child(2n)
{
    margin: 0 3% 2.5% 3%;
}

main > section:nth-child(3n) > article:nth-child(2n)
{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-color: #fafafa;
}

main > section:nth-child(3n) > article:nth-child(2n) > img
{
    height: auto;
    width: 40vw;
}

main > section:nth-child(3n) > article:nth-child(2n) > span > h3
{
    font-size: 1.563em;
    font-weight: bold;
    margin: 5% 0;
    color: #7d8588;
}

/*Footer*/

footer
{
    background-image: url("/img/fondoFraseQubiteXp.png");
}

footer > section:first-child 
{
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

footer > section:first-child > article
{
    margin: 5% 15%;
}

footer > section:first-child > article > h4 > a
{
    font-size: 1.125em;
    color: #fff;
}

footer > section:first-child > article > h4 
{
    font-weight: lighter;
    margin-bottom: 15%;
    transition: 0.8s;
}

footer > section:first-child > article > h4:hover
{
    font-weight: bold;
    transition: 0.3s;
}

footer > section:first-child > article > ul > li > a
{
    color: #fff;
    font-size: 0.938em;
    transition: 0.8s;
} 

footer > section:first-child > article > ul > li > a:hover
{
    font-weight: bold;
    transition: 0.3s;
}

footer > section:first-child > article > ul > li
{
    margin-bottom: 3%;
}

footer > section:nth-child(2n) > article
{
    display: grid;
    grid-template-columns: 70% 30%;
}

footer > section:nth-child(2n)
{
    background-color: #991a15;
}

footer > section:nth-child(2n) > article > p 
{
    color: #fff;
    font-size: 0.85em;
    margin: 1.5% 5%;
    transition: 0.8s;
}

footer > section:nth-child(2n) > article > p > a
{
    color: #fff;
    font-size: 1em;
    margin: 1.5% 5%;
}

footer > section:nth-child(2n) > article > p > a:hover
{
    font-weight: bolder;
    transition: 0.3s;
}

footer > section:nth-child(2n) > article > p:nth-child(2n)
{
    display: flex;
    justify-content: flex-end;
}

