*
{
    margin: 0;
    padding: 0;
    border: 1px dotted red;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;

}

p
{
 font-size: 18px;
}

header > section
{
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 1% 3%;
}

header > section > article > img
{
    height: auto;
    width: 90%;
    display: flex;
    align-items: center;
}

header > section > nav > ul
{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    height: 100%;
}

header > section > nav > ul > li
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header > section > nav > ul > li > a
{
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

header > section > nav > ul > li > ul 
{
    display: none;
}

header > section > nav > ul > li > ul > li
{
    padding: 10px 7.2vh;
}

header > section > nav > ul > li:hover > a
{
    color: red;
    transition: 0.8s;
}

header > section > nav > ul > li:hover > ul 
{
    display: block;
    position: absolute;
    top: 115px;
    background-color: #fff;
}

header > section > nav > ul > li:hover > ul > li > a
{
    font-size: 15px;
    color: gray;
}

/*body*/

main > section > article > img
{
    width: 100%;
    height: 80vh;
}

main > section > article > ul
{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin: 0 3% 2.5% 3%;
}

main > section > article > h2
{
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-transform: uppercase;
    margin: 2.5% 0;
}

main > section > article > ul > li
{
    margin: 0 2%;
    display: grid;
    grid-template-rows: 85% 15%;
    font-size: 20px;
}

main > section > article > ul > li > img
{
    width: 100%;
}

main > section > article:nth-child(3n)
{
    display: flex;
    justify-content: center;
}

main > section > article > button
{
    padding: 0.8% 2.5%;
    color: #fff;
    background-color: blue;
    font-size: 20px;
    border-radius: 20px;
}

/*Frase de la empresa*/

main > section:nth-child(2n)
{
    background-color: blue;
    margin: 2.5% 0;
}

main > section:nth-child(2n) > article 
{
    padding: 3.5% 8%;
}

main > section:nth-child(2n) > article > p
{
    color: #fff;
    font-weight: bold;
    text-align: center;
}

/*Sobre QubiTeXp*/

main > section:nth-child(3n) > article > p , main > section:nth-child(3n) > article:nth-child(2n)
{
    margin: 0 3% 2.5% 3%;
}

main > section:nth-child(3n) > article:nth-child(2n)
{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-color: gray;
}

main > section:nth-child(3n) > article:nth-child(2n) > img
{
    height: auto;
    width: 600px;
}

main > section:nth-child(3n) > article:nth-child(2n) > span > h3
{
    font-size: 25px;
    font-weight: bold;
    margin: 5% 0;
}

main > section:nth-child(3n) > article:nth-child(2n) > span > p
{

}

/*Footer*/

footer
{
    background-color: tomato;
}

footer > section:first-child
{
    display: grid;
    grid-template-columns: repeat(3, 15%) 55%;
    margin: 2.5% 3%;
}

footer > section:first-child > article:nth-child(4n) 
{
    display: flex;
    justify-content: flex-end;
}

footer > section:first-child > article:nth-child(4n) > img
{
    width: auto;
    height: 80%;
}

footer > section:first-child > article > h4 > a
{
    font-size: 18px;
    color: #fff;
}

footer > section:first-child > article > h4 
{
    margin-bottom: 15%;
    font-weight: lighter;
}

footer > section:first-child > article > ul > li > a
{
    color: #fff;
    font-size: 15px;
} 

footer > section:first-child > article > ul > li
{
    margin-bottom: 2%;
}

footer > section:nth-child(2n) > article
{
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 0 3% 2.5% 3%;
}

footer > section:nth-child(2n)
{
    background-color: red;
}

footer > section:nth-child(2n) > article > p , footer > section:nth-child(2n) > article > p > a
{
    color: #fff;
}

footer > section:nth-child(2n) > article
{
    margin-top: 2.5%;
}
